EXPO_PUBLIC_API_URL=https://NGROK-ADDRESS.dev
GOOGLE_OAUTH_CLIENT_ID=YOUR_GOOGLE_OAUTH_CLIENT_ID
GOOGLE_OAUTH_CLIENT_SECRET=YOUR_GOOGLE_OAUTH_CLIENT_SECRET
GOOGLE_REDIRECT_URL=https://NGROK-ADDRESS.dev/auth/google/callback
MOBILE_REDIRECT_URL=exp://.../--/oauth
GEMINI_API_KEY=""