# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
backend/.env
.env

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

#VSCODE
.vscode/

# virtual environments
.venv/
env/
venv/

# python cache
__pycache__/
*.py[cod]

# sqlite
*.db
*.sqlite3

# user uploads
backend/uploads/*

# sound files
backend/tts_cache/